
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}


canvas {
  display: block;
  background: #000;

 
  max-width: 100vw;
  max-height: 100vh;

 
  margin: auto;


  image-rendering: pixelated;
}


@media (orientation: portrait) {
  body {
    background: #000;
  }

  canvas {
    width: 100vw;
    height: 100svh; 
    max-width: 100vw;
    max-height: 100svh;
    object-fit: contain;
  }
}


@media (orientation: landscape) {
  canvas {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain;
  }
}


#rotate-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}





@media (orientation: landscape) {
  #rotate-overlay {
    display: none;
  }
}


#rotate-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: Arial, sans-serif;
  text-align: center;

  animation: overlayFadeOut 4s ease forwards;
  animation-delay: 0s;
}



.rotate-box {
  font-size: 64px;
  font-weight: bold;
  animation: countdown 3s steps(1) forwards;
}

.rotate-box::after {
  content: "3";
  animation: countdownNumbers 3s steps(1) forwards;
}

.rotate-box span {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  opacity: 0.7;
}


@keyframes countdownNumbers {
  0%   { content: "3"; }
  33%  { content: "2"; }
  66%  { content: "1"; }
  100% { content: "GO"; }
}


@keyframes countdown {
  0%   { transform: scale(1); }
  33%  { transform: scale(1.1); }
  66%  { transform: scale(1.15); }
  100% { transform: scale(1); }
}


@keyframes overlayFadeOut {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}






